@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Card Button */
.custom-card {
  background-color: rgb(75, 121, 170);
  border-radius: 8px;
  width: var(--card-width);
  max-width: 100%;
  height: var(--card-height);
  padding: var(--card-padding);
  text-align: center;
  color: white;
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.custom-card:hover {
  background-color: rgb(65, 101, 150);
  transform: scale(1.02);
}

/* Override Autofill Background/Text Color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #04394E inset !important;
  -webkit-text-fill-color: #fff !important;
}

/* Box-sizing global */
*, *::before, *::after {
  box-sizing: border-box;
}